*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    margin: 0;
    --clr-primary: hsl(var(--hue), var(--saturation), var(--value));
    --clr-primary-dark: hsl(calc(var(--hue) * 1.2), var(--saturation), calc(var(--value) * .9));
    --clr-primary-light: hsl(var(--hue), var(--saturation), calc(var(--value) * 2.3));
}

:root {
    --hue: 100;
    --saturation: 80%;
    --value: 50%;
}