@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    margin: 0;
    --clr-primary: hsl(var(--hue), var(--saturation), var(--value));
    --clr-primary-dark: hsl(calc(var(--hue) * 1.2), var(--saturation), calc(var(--value) * .9));
    --clr-primary-light: hsl(var(--hue), var(--saturation), calc(var(--value) * 1.1));
}

:root {
    --hue: 100;
    --saturation: 80%;
    --value: 50%;
}