@import "./assets/styles/style.css";
@import "./nav.css";
@import "./search.css";

/* .App {} */

header {
    background: var(--clr-primary-dark);
    width: 100%;
    color: white;
    padding-block: 3em;
    margin-bottom: 3em;
}

header>* {
    text-align: left;
    max-width: 1000px;
    padding: 0 5rem;
}

form {
    display: grid;
    gap: 2em;
}

form>* {
    margin: auto;
}

input[type="radio"] {
    -webkit-appearance: none;
    -ms-progress-appearance: none;
    appearance: none;
    display: block;
    transition: .2s linear;
    opacity: 0;
}

input[type="radio"]:checked {
    opacity: 1;
}

input[type="radio"]::before {
    border-width: 0;
}

input[type="radio"]:checked::before {
    content: '';
    position: absolute;
    inset: 0;
    border: 5px solid var(--clr-primary-dark);
    transition: .1s linear;
    border-radius: 1em;
    pointer-events: none;
}

label {
    position: relative;
    text-transform: capitalize;
}

.category {
    display: flex;
    color: var(--text-clr);
    width: max-content;
    align-items: center;
    background-color: var(--grey);
    gap: .25em;
    padding: .5em 1em;
    border-radius: 1em;
    cursor: pointer;
    transition: .2s ease;
    box-shadow: inset 0 0 0 var(--clr-primary);
}

.category:hover {
    background-color: var(--clr-primary-light);
}

.item {
    --value: 80%;
    background: var(--gradient);
    aspect-ratio: 1;
    padding: 1.2em;
    transition: 250ms;
}

.hide {
    position: absolute;
    display: none;
}

.top {
    display: flex;
    justify-content: space-between;
}

.ion {
    box-sizing: content-box;
    background-color: rgba(0, 0, 0, .2);
    padding: .5em;
    color: white;
    border-radius: 50%;
    cursor: pointer;
}

.ion:where(:hover, :focus) {
    background-color: rgba(0, 0, 0, .3);
}

.list {
    position: relative;
    max-width: 1000px;
    justify-content: center;
    align-content: flex-start;
    padding: 2em clamp(2vw, 2vw, 2em);
    display: grid;
    flex-grow: 1;
    grid-template-columns: repeat(auto-fit, 11em);
    margin: 2em auto;
    gap: 1em;
    border-radius: .5em;
}

.loading,
.no-data {
    position: absolute;
    display: grid;
    place-content: center;
    inset: 0;
    bottom: -300%;
    text-align: center;
    opacity: .1;
}

.loadingLogo {
    animation: loading .5s infinite alternate;
    display: block;
    font-size: 10em;
}

@keyframes loading {
    0% {
        opacity: 0.3;
    }

    100% {
        opacity: 1;
    }
}

@keyframes scale {
    100% {
        transform: scale(1);
    }
}

.itemContainer {
    position: relative;
    overflow: hidden;
    border-radius: 1em;
    transform: scale(0);
    animation: scale .25s ease-out forwards;
    animation-delay: calc(30ms * var(--i));
}

.options {
    --value: 85%;
    position: absolute;
    inset: 10px;
    padding: .5em;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, minmax(0em, max-content));
    overflow-y: auto;
    background-color: var(--clr-primary);
    border-radius: 1em;
    transform: translateY(120%);
    transition: transform 250ms;
    z-index: 3;
}

.options.open {
    transform: translateY(0);
}

.item>* {
    transition: 150ms;
}

.options.open+.item>* {
    opacity: 0;
    pointer-events: none;
}

.options button {
    border: none;
    color: var(--text-clr);
    background: none;
    padding-block: .25em;
    grid-column: main-start / main-end;
    margin: 0;
    width: 100%;
}

.options .emoji {
    grid-column: span 1;
    font-size: 2.5em;
    width: 1.5em;
    height: 1.5em;
    padding: 0;
    align-self: center;
    border-radius: 100%;
}

.options .emoji:hover,
.options button:not(:first-of-type):hover {
    background-color: #00000020;
}

.options button:last-of-type:hover {
    color: darkred;
}

.options::-webkit-scrollbar,
.options::-webkit-scrollbar-thumb {
    width: 8px;
    border-radius: 13px;
    background-clip: padding-box;
    border: 2px solid transparent;
}

.options:hover::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 0 10px #00000070;
}