@import "./assets/styles/style.css";
@import "./nav.css";
@import "./search.css";

.App{
    display: grid;
}
.input {
    display: flex;
    flex-direction: column;
    gap: .5em;
    margin: auto;
}

.input input {
    width: 500px;
    padding: .5em;
}

input[type="radio"] {
    -webkit-appearance: none;
    appearance: none;
    display: block;
    transition: .2s linear;
    opacity: 0;
}

input[type="radio"]:checked {
    opacity: 1;
}

input[type="radio"]::before {
    border-width: 0;
}

input[type="radio"]:checked::before {
    content: '';
    position: absolute;
    inset: 0;
    border: 5px solid var(--clr-primary-dark);
    transition: .1s linear;
    border-radius: 1em;
    pointer-events: none;
}

label {
    position: relative;
    text-transform: capitalize;
}

.category {
    display: flex;
    color: var(--text-clr);
    width: max-content;
    align-items: center;
    background-color: var(--grey);
    gap: .25em;
    padding: .5em 1em;
    border-radius: 1em;
    cursor: pointer;
    transition: .2s ease;
    box-shadow: inset 0 0 0 var(--clr-primary);
}

.category:hover {
    --value: 80%;
    background-color: var(--clr-primary-light);
}

.item {
    --value: 80%;
    background: var(--gradient);
    aspect-ratio: 1;
    padding: 1.2em;
    border-radius: 1em;
    transform: scale(0);
    animation: scale .25s ease-out forwards;
    animation-delay: calc(30ms * var(--i));
}

.top {
    display: flex;
    justify-content: space-between;
}

.ion {
    box-sizing: content-box;
    background-color: rgba(0, 0, 0, .2);
    padding: .5em;
    color: white;
    border-radius: 50%;
    cursor: pointer;
}

.ion:where(:hover, :focus) {
    background-color: rgba(0, 0, 0, .3);
}

.list {
    position: relative;
    max-width: 1000px;
    min-height: 400px;
    justify-content: center;
    align-content: flex-start;
    padding: 2em clamp(2vw, 2vw, 2em);
    display: grid;
    flex-grow: 1;
    grid-template-columns: repeat(auto-fit, 11em);
    margin: 2em auto;
    gap: 1em;
    /* background-color: hsla(0, 0%, 50%, 0.05); */
    border-radius: .5em;
}

.loading,
.no-data {
    position: absolute;
    display: grid;
    place-content: center;
    inset: 0;
    text-align: center;
    opacity: .1;
}

.loadingLogo {
    animation: loading .5s infinite alternate;
    display: block;
    font-size: 10em;
}

@keyframes loading {
    0% {
        opacity: 0.3;
    }

    100% {
        opacity: 1;
    }
}

@keyframes scale {

    100% {
        transform: scale(1);
    }
}