@import "./assets/styles/style.css";

form {
    display: flex;
    flex-direction: column;
    gap: 2em;
    max-width: 1000px;
    margin-inline: auto;
}

.input {
    display: flex;
    flex-direction: column;
    gap: .5em;
    margin: auto;
}
input{
    width: 500px;
    padding: .5em;
}

label {
    text-transform: capitalize;
}