nav {
    background-color: var(--clr-primary-dark);
    text-transform: capitalize;
}

a {
    text-decoration: none;
    color: aliceblue;
    transition: 150ms;
}

nav div {
    display: flex;
    align-items: center;
    gap: 2em;
}

nav div a:last-of-type {
    margin-left: auto;
    font-size: 1.4em;
    
}

nav div a:last-of-type:hover {
    opacity: 0.8;
    transform: scale(1.2);
    
    
}

a:hover {
    font-weight: bold;
<<<<<<< HEAD
   
=======

>>>>>>> fa4e6c210f8552a520e20808941a091842a95ebc
}