nav {
    background-color: var(--clr-primary-dark);
    text-transform: capitalize;
}

a {
    text-decoration: none;
    color: aliceblue;
    transition: 150ms;
}

nav div {
    display: flex;
    align-items: center;
    gap: 2em;
}

nav div a:last-of-type {
    margin-left: auto;
    font-size: 1.4em;
}

nav div a:last-of-type:hover {
    opacity: 0.7;
}

a:hover {
    font-weight: bold;

}