.search {
    display: flex;
<<<<<<< HEAD
    margin: auto;
    border: solid 3px black;
=======
    margin: 2em auto;
>>>>>>> fa4e6c210f8552a520e20808941a091842a95ebc
    border-radius: 3em;
    align-items: center;
    overflow: hidden;
    background-color: hsl(0, 0%, 98%);
    box-shadow: 0 .5em 1em hsl(0, 0%, 95%);
    border: solid 3px;
    border-color: transparent;
}

.search:focus-within {
    border-color: var(--clr-primary-dark);
}

.search button {
    margin: 0;
}

.search .input label {
    display: none;
}

.search .input {
    margin: 0;
}

.search .input input {
    border: none;
    background: none;
    outline: none;
    padding: .5em 1em;
    margin: 0;
    font-size: 2em;
    font-weight: 700;
}

.search .input input::placeholder {
    color: hsl(0, 0%, 75%);
}

.search button {
    outline: 0;
    background: none;
    color: var(--clr-primary-dark);
    font-size: 2.5em;
    padding: 0 .5em;
    line-height: 0;

}