/* @import "./style.css";
@import "./nav.css";
@import "./search.css";
@import "./editDate.css";
@import "./item.css";
@import "./options.css";
@import "./notifications.css";
@import "./loader.css";

body {
  overflow-y: scroll;
}
header {
  width: 100%;
  color: var(--clr-primary-dark);
  padding-block: 3em;
  text-align: center;
  margin-bottom: 3em;
  padding: 2em;
}

form {
  text-align: center;
}
.container {
  position: relative;
  height: 7em;
}

input:not(input[type="radio"]),
select {
  padding: 0.5em;
  width: 100%;
  font-size: 1.3em;
  border: 2px solid var(--clr-primary-dark);
  border-radius: 0.5em;
  margin-block: 0.5em;
  accent-color: var(--clr-primary);
}

input:not(input[type="search"], input[type="radio"]):focus,
select:focus {
  outline: none;
  box-shadow: 0 0 0 4px var(--clr-primary-light);
}

input:not(input[type="search"], input[type="radio"]):disabled,
select:disabled {
  border-color: var(--grey);
}

input[type="radio"] {
  -webkit-appearance: none;
  -ms-progress-appearance: none;
  appearance: none;
  display: block;
  transition: 0.2s linear;
  opacity: 0;
  outline: none;
}

input[type="radio"]:checked {
  opacity: 1;
}

input[type="radio"]::before {
  border-width: 0;
}

.category:not(.compact) input[type="radio"]:checked::before {
  content: "";
  border: 5px solid var(--clr-primary-dark);
  position: absolute;
  inset: 0;
  transition: 0.1s linear;
  border-radius: 1em;
  pointer-events: none;
}

label {
  color: var(--clr-primary-dark);
  position: relative;
  text-transform: capitalize;
  text-align: start;
}

.category:not(.compact) {
  display: flex;
  gap: 0.25em;
}
.icon {
  transition: 0.2s ease;
}
.category.compact:has(input:not(:checked)) .icon {
  opacity: 0.5;
  filter: grayscale();
}

.category {
  color: var(--text-clr);
  width: max-content;
  align-items: center;
  background-color: var(--grey);
  padding: 0.5em 1em;
  border-radius: 1em;
  cursor: pointer;
  transition: 0.2s ease;
}

.category:hover {
  --value: 80%;
  background-color: var(--clr-primary-light);
}

.list {
  position: relative;
  max-width: 1200px;
  justify-content: center;
  align-content: flex-start;
  padding: 2em clamp(2vw, 2vw, 2em);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(1em, 20ch));
  margin: auto;
  gap: 1em;
  border-radius: 0.5em;
}

.loading,
.no-data {
  position: absolute;
  display: grid;
  place-content: center;
  inset: 0;
  bottom: -300%;
  text-align: center;
  opacity: 0.1;
}

.line {
  width: 100%;
  border-top: 1px solid;
}

.app {
  display: flex;
  flex-direction: row-reverse;
}

.main {
  flex-grow: 1;
  position: relative;
} */
