.item {
  --value: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: var(--gradient);
  aspect-ratio: 10/11;
  padding: 1.2em;
  transition: var(--transition);
}

.item.mini {
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
  aspect-ratio: 10/5;
  gap: 0.5em;
}

.top {
  display: flex;
  justify-content: space-between;
  margin-bottom: auto;
}

.ion {
  box-sizing: content-box;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 0.5em;
  color: white;
  border-radius: 50%;
  cursor: pointer;
}

.ion:where(:hover, :focus) {
  background-color: rgba(0, 0, 0, 0.3);
}

.item .name {
  text-decoration: none;
  color: var(--text-color);
  margin-bottom: auto;
}

.item button {
  border-radius: 100%;
}

.itemContainer {
  position: relative;
  overflow: hidden;
  border-radius: 1em;
}

.details {
  margin-block: 2em;
  text-align: left;
  color: var(--text-color);
}

.chipsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
  max-width: fit-content;
  min-width: 20vw;
  overflow-y: hidden;
}

.chips {
  color: var(--text-clr);
  width: max-content;
  align-items: center;
  background-color: var(--grey);
  padding: 0.5em 1em;
  border-radius: 1em;
}

textarea {
  margin-block: 1em;
  border-radius: 1em;
  padding: 1em;
  resize: none;
  width: 100%;
  height: 5em;
  border-color: var(--grey);
  box-shadow: 0 0 4px var(--text-clr);
  border-width: 3px;
  outline: none;
}

textarea:focus {
  border-color: var(--clr-primary-dark);
}

.item.mini > * {
  margin: 0;
}
