.loader-container {
  display: grid;
  min-height: 100vh;
  place-items: center;
}

.loader {
  display: grid;
  grid-template-columns: repeat(3, 5vmin);
  gap: 1vmin;
}

.block {
  --delay: 150;
  --value: 80%;
  background: var(--gradient);
  aspect-ratio: 1;
  border-radius: 1vmin;
  transition: var(--transition);
  animation: blink calc(var(--delay) * 4ms) alternate infinite;
  opacity: 0;
  scale: 0;
}

.block:nth-of-type(5) {
  visibility: hidden;
}

@keyframes blink {
  to {
    scale: 1;
    opacity: 1;
  }
}

.block:nth-of-type(1) {
  --hue: 0;
  animation-delay: calc(var(--delay) * 1ms);
}

.block:nth-of-type(2) {
  --hue: 45;
  animation-delay: calc(var(--delay) * 2ms);
}

.block:nth-of-type(3) {
  --hue: 90;
  animation-delay: calc(var(--delay) * 3ms);
}

.block:nth-of-type(6) {
  --hue: 135;
  animation-delay: calc(var(--delay) * 4ms);
}

.block:nth-of-type(9) {
  --hue: 180;
  animation-delay: calc(var(--delay) * 5ms);
}

.block:nth-of-type(8) {
  --hue: 225;
  animation-delay: calc(var(--delay) * 6ms);
}

.block:nth-of-type(7) {
  --hue: 270;
  animation-delay: calc(var(--delay) * 7ms);
}
.block:nth-of-type(4) {
  --hue: 315;
  animation-delay: calc(var(--delay) * 8ms);
}
