.notifications-bar .list {
  --shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
  grid-template-columns: 100%;
  background-color: white;
  border-radius: 1.7em;
  margin: 2em;
  margin-top: 1em;
  padding: 1em;
  box-shadow: var(--shadow);
}

.notifications-bar {
  --value: 45%;
  position: sticky;
  background-color: var(--clr-primary-dark);
  padding-block-start: 7em;
  top: 0;
  right: 0;
  height: 100vh;
  flex-shrink: 0;
  overflow-y: scroll;
  overflow-x: hidden;
}

.date {
  text-align: center;
  color: white;
}

.date[data-passed="true"] + .list::before {
  content: "❗";
  position: absolute;
  left: 0;
  font-size: 1.5em;
  padding: 0.2em;
  aspect-ratio: 1;
  border-radius: 100%;
  background-color: white;
  box-shadow: var(--shadow);
  z-index: 1;
  translate: -25% -25%;
  rotate: -10deg;
}

.text {
  --value: 70%;
  color: var(--clr-primary);
  display: grid;
  gap: 3em;
  margin: 2em;
  width: min-content;
}

.notifications-bar::-webkit-scrollbar,
.notifications-bar::-webkit-scrollbar-thumb {
  width: 12px;
  border-radius: 13px;
  background-clip: padding-box;
  border: 2px solid transparent;
}

.notifications-bar:hover::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 0 10px #00000070;
}
