@import "./style.css";
@import "./nav.css";
@import "./search.css";
@import "./editDate.css";
@import "./item.css";
@import "./options.css";
@import "./notifications.css";

header {
  background: var(--clr-primary-dark);
  width: 100%;
  color: white;
  padding-block: 3em;
  margin-bottom: 3em;
}

header > * {
  text-align: left;
  max-width: 1000px;
  padding: 0 5rem;
}

form {
  display: grid;
  gap: 2em;
}

.container {
  position: relative;
  height: 7em;
}

form > * {
  margin: auto;
}

input[type="radio"] {
  -webkit-appearance: none;
  -ms-progress-appearance: none;
  appearance: none;
  display: block;
  transition: 0.2s linear;
  opacity: 0;
}

input[type="radio"]:checked {
  opacity: 1;
}

input[type="radio"]::before {
  border-width: 0;
}

input[type="radio"]:checked::before {
  content: "";
  position: absolute;
  inset: 0;
  border: 5px solid var(--clr-primary-dark);
  transition: 0.1s linear;
  border-radius: 1em;
  pointer-events: none;
}

label {
  position: relative;
  text-transform: capitalize;
}

.category {
  display: flex;
  color: var(--text-clr);
  width: max-content;
  align-items: center;
  background-color: var(--grey);
  gap: 0.25em;
  padding: 0.5em 1em;
  border-radius: 1em;
  cursor: pointer;
  transition: 0.2s ease;
  box-shadow: inset 0 0 0 var(--clr-primary);
}

.category:hover {
  --value: 80%;
  background-color: var(--clr-primary-light);
}

.list {
  position: relative;
  max-width: 1200px;
  justify-content: center;
  align-content: flex-start;
  padding: 2em clamp(2vw, 2vw, 2em);
  display: grid;
  flex-grow: 1;
  grid-template-columns: repeat(auto-fit, 20ch);
  margin: auto;
  gap: 1em;
  border-radius: 0.5em;
}

.loading,
.no-data {
  position: absolute;
  display: grid;
  place-content: center;
  inset: 0;
  bottom: -300%;
  text-align: center;
  opacity: 0.1;
}

.loadingLogo {
  animation: loading 0.5s infinite alternate;
  display: block;
  font-size: 10em;
}

@keyframes loading {
  0% {
    opacity: 0.3;
  }

  100% {
    opacity: 1;
  }
}
