@import url("variables.css");

:where(h1, h2, h3, h4, strong, a, button) {
  text-transform: capitalize;
}

strong {
  font-weight: 900;
}

h1 {
  font-weight: 900;
  font-size: 48px;
  text-align: center;
}

h2 {
  font-weight: 800;
  font-size: 22px;
}

h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 2em;
}

h4 {
  font-weight: 600;
  font-size: 12px;
  display: flex;
  justify-content: space-between;
}

body {
  min-height: 100vh;
  color: var(--text-clr);
}

nav {
  inset: 0;
  bottom: auto;
  display: block;
  padding: 1em;
}

nav > div {
  display: flex;
  gap: 1em;
}

.section {
  margin: 2em;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  gap: 1em;
}

.icon {
  font-size: 1.5em;
  display: inline-block;
  border-radius: 0.25em;
  /* background-image: linear-gradient(to bottom right, var(--clr-primary), var(--clr-primary-dark)); */
}

button.reset {
  padding: 0;
  line-height: 0;
}

button {
  text-transform: capitalize;
  border-radius: 0.5em;
  background: none;
  border: none;
  outline: none;
  font-weight: 700;
  font-size: 1em;
  color: white;
  cursor: pointer;
  padding: 0.5em 1em;
}

button:active {
  scale: 0.9;
}

.btn {
  --value: 40%;
  background-color: var(--clr-primary-dark);
  width: max-content;
  display: grid;
  place-items: center;
}

.btn:has(svg) {
  padding: 0.5em;
}

svg.large {
  width: 1.5em;
  height: 1.5em;
}

:where(a):focus {
  outline: none;
}

:where(.btn) {
  box-shadow: 0 0 0 0px var(--clr-primary-light);
  transition: var(--transition);
}

.btn:hover {
  --value: 35%;
}

.btn:focus {
  box-shadow: 0 0 0 3px var(--clr-primary-light-4);
}

.danger {
  --hue: 10;
}

.secondary {
  background-color: var(--clr-primary-light);
  color: var(--clr-primary-dark);
}

.center {
  display: grid;
  text-align: center;
  justify-content: center;
}

img {
  margin: auto;
  border-radius: 100%;
}

.flex {
  display: flex;
  align-items: center;
}

.m2 {
  margin: 2em;
}
